body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.Basic-Paragraph {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.ParaOverride-1 {
	-epub-hyphens:none;
}
p.ParaOverride-2 {
	text-align:right;
}
p.ParaOverride-3 {
	-epub-hyphens:none;
	text-align:center;
}
p.ParaOverride-4 {
	margin-bottom:9px;
}
p.ParaOverride-5 {
	margin-bottom:3px;
}
p.ParaOverride-6 {
	text-align:center;
}
p.ParaOverride-7 {
	-epub-hyphens:none;
	text-align:right;
}
span.CharOverride-1 {
	color:#2050d0;
	font-family:"Apparat Semibold", sans-serif;
	font-size:41px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-2 {
	color:#efebe8;
	font-family:"Apparat Medium", sans-serif;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	text-transform:uppercase;
}
span.CharOverride-3 {
	color:#efebe8;
	font-family:"Apparat Medium", sans-serif;
	font-size:9px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-4 {
	color:#ecbe54;
	font-family:"Apparat Medium", sans-serif;
	font-size:5px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	text-transform:uppercase;
}
span.CharOverride-5 {
	color:#f2694a;
	font-family:"Apparat Extrabold", sans-serif;
	font-size:6px;
	font-style:normal;
	font-weight:800;
}
span.CharOverride-6 {
	color:#2050d0;
	font-family:"Apparat Medium", sans-serif;
	font-size:6px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-7 {
	color:#2050d0;
	font-family:"Apparat Medium", sans-serif;
	font-size:9px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-8 {
	font-family:"Apparat Medium", sans-serif;
	font-size:6px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-9 {
	color:#2050d0;
	font-family:Apparat, sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-10 {
	color:#f36849;
	font-family:Lipsum, serif;
	font-size:33px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-11 {
	color:#2050d0;
	font-family:"Apparat Medium", sans-serif;
	font-size:7px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-12 {
	color:#efebe8;
	font-family:"Apparat Medium", sans-serif;
	font-size:6px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-13 {
	color:#2050d0;
	font-family:"Apparat Medium", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	text-transform:uppercase;
}
span.CharOverride-14 {
	color:#2050d0;
	font-family:"Apparat Extrabold", sans-serif;
	font-size:7px;
	font-style:normal;
	font-weight:800;
}
span.CharOverride-15 {
	color:#2050d0;
	font-family:Apparat, sans-serif;
	font-size:6px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-16 {
	color:#2050d0;
	font-family:"Apparat Medium", sans-serif;
	font-size:6px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	text-transform:uppercase;
}
span.CharOverride-17 {
	color:#214fcf;
	font-family:Lipsum, serif;
	font-size:33px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-18 {
	color:#efebe8;
	font-family:"Apparat Medium", sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-19 {
	color:#efebe8;
	font-family:"Apparat Extrabold", sans-serif;
	font-size:6px;
	font-style:normal;
	font-weight:800;
}
span.CharOverride-20 {
	color:#f36849;
	font-family:Apparat, sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-21 {
	color:#ffffff;
	font-family:"Apparat Medium", sans-serif;
	font-size:7px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-22 {
	color:#ffffff;
	font-family:Apparat, sans-serif;
	font-size:7px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-23 {
	color:#ffffff;
	font-family:"Apparat Medium", sans-serif;
	font-size:13px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-24 {
	color:#f2694a;
	font-family:Apparat, sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-25 {
	color:#2050d0;
	font-family:"Apparat Medium", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	text-transform:uppercase;
}
span.CharOverride-26 {
	font-family:"Apparat Medium", sans-serif;
	font-size:5px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	text-transform:uppercase;
}
span.CharOverride-27 {
	color:#ffffff;
	font-family:Lipsum, serif;
	font-size:33px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-28 {
	color:#efebe8;
	font-family:"Apparat Semibold", sans-serif;
	font-size:41px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-29 {
	color:#efebe8;
	font-family:"Apparat Medium", sans-serif;
	font-size:6px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	text-transform:uppercase;
}
span.CharOverride-30 {
	color:#2050d0;
	font-family:"Apparat Medium", sans-serif;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	text-transform:uppercase;
}
span.CharOverride-31 {
	color:#214fcf;
	font-family:"Apparat Medium", sans-serif;
	font-size:5px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	text-transform:uppercase;
}
span.CharOverride-32 {
	color:#efebe8;
	font-family:"Apparat Medium", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	text-transform:uppercase;
}
span.CharOverride-33 {
	color:#efebe8;
	font-family:"Apparat Medium", sans-serif;
	font-size:15px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-34 {
	color:#2050d0;
	font-family:"Apparat Medium", sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-35 {
	color:#2050d0;
	font-family:Apparat, sans-serif;
	font-size:7px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-36 {
	color:#efebe8;
	font-family:"Apparat Extrabold", sans-serif;
	font-size:15px;
	font-style:normal;
	font-weight:800;
}
span.CharOverride-37 {
	color:#efebe8;
	font-family:"Apparat Medium", sans-serif;
	font-size:7px;
	font-style:normal;
	font-weight:500;
}
#_idContainer000 {
	display:inline-block;
	height:129px;
	position:relative;
	width:595px;
}
#_idContainer001 {
	-ms-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:187px;
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:209px;
}
#_idContainer002 {
	display:inline-block;
	height:349px;
	position:relative;
	width:595px;
}
#_idContainer003 {
	display:inline-block;
	height:338px;
	position:relative;
	width:595px;
}
#_idContainer004 {
	display:inline-block;
	height:326px;
	position:relative;
	width:595px;
}
#_idContainer008, #_idContainer162 {
	-ms-transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.30px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:38.10px;
	z-index:0;
}
#_idContainer009, #_idContainer163 {
	-ms-transform:translate(6.641px,10.711px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(6.641px,10.711px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(6.641px,10.711px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(6.641px,10.711px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:10.70px;
	z-index:1;
}
#_idContainer010, #_idContainer164 {
	-ms-transform:translate(15.768px,15.242px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(15.768px,15.242px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:2.35px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(15.768px,15.242px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(15.768px,15.242px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2.26px;
	z-index:6;
}
#_idContainer011, #_idContainer165 {
	-ms-transform:translate(15.849px,20.304px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(15.849px,20.304px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:2.38px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(15.849px,20.304px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(15.849px,20.304px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2.25px;
	z-index:5;
}
#_idContainer012, #_idContainer166 {
	-ms-transform:translate(18.787px,12.523px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(18.787px,12.523px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(18.787px,12.523px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(18.787px,12.523px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.36px;
	z-index:7;
}
#_idContainer013, #_idContainer167 {
	-ms-transform:translate(18.787px,21.583px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(18.787px,21.583px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.63px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(18.787px,21.583px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(18.787px,21.583px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.62px;
	z-index:3;
}
#_idContainer014, #_idContainer168 {
	-ms-transform:translate(19.937px,20.317px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(19.937px,20.317px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:2.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(19.937px,20.317px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(19.937px,20.317px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2.33px;
	z-index:4;
}
#_idContainer015, #_idContainer169 {
	-ms-transform:translate(20.039px,15.211px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(20.039px,15.211px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:2.39px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(20.039px,15.211px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(20.039px,15.211px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2.19px;
	z-index:8;
}
#_idContainer016, #_idContainer170 {
	-ms-transform:translate(20.600px,10.711px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(20.600px,10.711px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.85px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(20.600px,10.711px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(20.600px,10.711px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:10.91px;
	z-index:2;
}
#_idContainer017, #_idContainer171, #_idContainer197, #_idContainer198, #_idContainer199, #_idContainer239, #_idContainer240 {
	display:inline-block;
	height:38px;
	position:relative;
	width:38px;
}
#_idContainer018, #_idContainer172 {
	-ms-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.75px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:38.46px;
	z-index:0;
}
#_idContainer019, #_idContainer173 {
	-ms-transform:translate(6.405px,5.699px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(6.405px,5.699px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.47px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(6.405px,5.699px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(6.405px,5.699px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:21.71px;
	z-index:1;
}
#_idContainer020, #_idContainer174 {
	-ms-transform:translate(25.570px,9.902px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(25.570px,9.902px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.85px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(25.570px,9.902px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(25.570px,9.902px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:6.24px;
	z-index:2;
}
#_idContainer021, #_idContainer025, #_idContainer106, #_idContainer175, #_idContainer238 {
	display:inline-block;
	height:39px;
	position:relative;
	width:38px;
}
#_idContainer022 {
	-ms-transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.76px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:38.24px;
	z-index:0;
}
#_idContainer023 {
	-ms-transform:translate(6.195px,11.600px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(6.195px,11.600px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:19.77px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(6.195px,11.600px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(6.195px,11.600px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:25.73px;
	z-index:1;
}
#_idContainer024 {
	-ms-transform:translate(16.395px,5.801px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(16.395px,5.801px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(16.395px,5.801px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(16.395px,5.801px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:5.29px;
	z-index:2;
}
#_idContainer028 {
	display:inline-block;
	height:0px;
	position:relative;
	width:426px;
}
#_idContainer029 {
	display:inline-block;
	height:129px;
	position:relative;
	width:129px;
}
#_idContainer030, #_idContainer067, #_idContainer113, #_idContainer144 {
	display:inline-block;
	height:184px;
	position:relative;
	width:92px;
}
#_idContainer033, #_idContainer135, #_idContainer181 {
	display:inline-block;
	height:11px;
	position:relative;
	width:75px;
}
#_idContainer036 {
	display:inline-block;
	height:139px;
	width:382px;
}
#_idContainer040 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.30px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:38.30px;
	z-index:0;
}
#_idContainer041 {
	-ms-transform:translate(0.000px,58.088px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,58.088px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.30px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,58.088px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,58.088px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:38.30px;
	z-index:1;
}
#_idContainer042 {
	-ms-transform:translate(0.000px,120.128px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,120.128px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.30px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,120.128px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,120.128px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:38.30px;
	z-index:2;
}
#_idContainer043 {
	-ms-transform:translate(208.856px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(208.856px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.30px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(208.856px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(208.856px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:38.30px;
	z-index:3;
}
#_idContainer044 {
	-ms-transform:translate(208.856px,58.088px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(208.856px,58.088px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.30px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(208.856px,58.088px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(208.856px,58.088px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:38.30px;
	z-index:4;
}
#_idContainer045 {
	display:inline-block;
	height:158px;
	position:relative;
	width:247px;
}
#_idContainer047, #_idContainer096, #_idContainer143 {
	display:inline-block;
	height:75px;
	width:75px;
}
#_idContainer048, #_idContainer094, #_idContainer146 {
	display:inline-block;
	height:69px;
	position:relative;
	width:69px;
}
#_idContainer051, #_idContainer241 {
	display:inline-block;
	height:31px;
	position:relative;
	width:31px;
}
#_idContainer053 {
	display:inline-block;
	height:99px;
	position:relative;
	width:383px;
}
#_idContainer061 {
	display:inline-block;
	height:11px;
	position:relative;
	width:81px;
}
#_idContainer063 {
	-ms-transform:translate(1.991px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.991px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:23.32px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1.991px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.991px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:30.91px;
	z-index:0;
}
#_idContainer064 {
	-ms-transform:translate(0.000px,16.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,16.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:7.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,16.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,16.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:9.09px;
	z-index:1;
}
#_idContainer065 {
	-ms-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:26px;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:34px;
}
#_idContainer066 {
	-ms-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:199px;
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:209px;
}
#_idContainer070 {
	display:inline-block;
	height:26px;
	position:relative;
	width:188px;
}
#_idContainer071 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:23.74px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:16.21px;
	z-index:1;
}
#_idContainer072 {
	-ms-transform:translate(0.787px,5.558px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.787px,5.558px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:64.44px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.787px,5.558px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.787px,5.558px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:81.21px;
	z-index:0;
}
#_idContainer073 {
	-ms-transform:translate(0.000px,0.000px) rotate(350.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(350.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:72px;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(350.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(0.000px,0.000px) rotate(350.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:84px;
}
#_idContainer074 {
	-ms-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:128px;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:128px;
}
#_idContainer076, #_idContainer077, #_idContainer078, #_idContainer079, #_idContainer212, #_idContainer213, #_idContainer214, #_idContainer215 {
	display:inline-block;
	height:17px;
	position:relative;
	width:17px;
}
#_idContainer081, #_idContainer216 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:9.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:9.19px;
	z-index:0;
}
#_idContainer082, #_idContainer217 {
	-ms-transform:translate(2.235px,2.227px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2.235px,2.227px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.70px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2.235px,2.227px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2.235px,2.227px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:4.72px;
	z-index:1;
}
#_idContainer083, #_idContainer218 {
	-ms-transform:translate(6.496px,1.584px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(6.496px,1.584px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.10px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(6.496px,1.584px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(6.496px,1.584px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.10px;
	z-index:2;
}
#_idContainer084, #_idContainer219 {
	display:inline-block;
	height:9px;
	position:relative;
	width:9px;
}
#_idContainer085, #_idContainer220 {
	-ms-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:2.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2.04px;
	z-index:1;
}
#_idContainer086, #_idContainer221 {
	-ms-transform:translate(0.165px,2.785px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.165px,2.785px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.165px,2.785px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.165px,2.785px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.72px;
	z-index:0;
}
#_idContainer087, #_idContainer222 {
	-ms-transform:translate(2.992px,2.614px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2.992px,2.614px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.74px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2.992px,2.614px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2.992px,2.614px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:5.36px;
	z-index:2;
}
#_idContainer088, #_idContainer092, #_idContainer223, #_idContainer227 {
	display:inline-block;
	height:8px;
	position:relative;
	width:8px;
}
#_idContainer089, #_idContainer224 {
	-ms-transform:translate(0.009px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.009px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.27px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.009px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.009px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:8.34px;
	z-index:0;
}
#_idContainer090, #_idContainer225 {
	-ms-transform:translate(0.000px,4.162px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,4.162px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.11px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,4.162px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,4.162px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:3.96px;
	z-index:1;
}
#_idContainer091, #_idContainer226 {
	-ms-transform:translate(4.261px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(4.261px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(4.261px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(4.261px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:3.79px;
	z-index:2;
}
#_idContainer093, #_idContainer228 {
	display:inline-block;
	height:10px;
	position:relative;
	width:5px;
}
#_idContainer097, #_idContainer229 {
	-ms-transform:translate(0.008px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.008px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:44.98px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.008px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.008px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:64.91px;
	z-index:0;
}
#_idContainer098, #_idContainer230 {
	-ms-transform:translate(0.000px,51.960px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,51.960px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,51.960px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,51.960px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:65.19px;
	z-index:1;
}
#_idContainer099, #_idContainer231 {
	display:inline-block;
	height:56px;
	position:relative;
	width:65px;
}
#_idContainer100, #_idContainer232 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:39.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:39.33px;
	z-index:0;
}
#_idContainer101, #_idContainer233 {
	-ms-transform:translate(6.843px,7.109px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(6.843px,7.109px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(6.843px,7.109px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(6.843px,7.109px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:25.70px;
	z-index:1;
}
#_idContainer102, #_idContainer234 {
	display:inline-block;
	height:40px;
	position:relative;
	width:39px;
}
#_idContainer103, #_idContainer235 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:39.08px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:38.47px;
	z-index:0;
}
#_idContainer104, #_idContainer236 {
	-ms-transform:translate(6.787px,7.175px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(6.787px,7.175px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:21.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(6.787px,7.175px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(6.787px,7.175px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:24.96px;
	z-index:1;
}
#_idContainer105, #_idContainer237 {
	-ms-transform:translate(12.410px,27.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(12.410px,27.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(12.410px,27.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(12.410px,27.663px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:13.81px;
	z-index:2;
}
#_idContainer108, #_idContainer153 {
	-ms-transform:translate(0.000px,15.374px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,15.374px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:20.87px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,15.374px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,15.374px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:1;
}
#_idContainer109, #_idContainer154 {
	-ms-transform:translate(21.603px,24.546px) rotate(314.999deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(21.603px,24.546px) rotate(314.999deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:20.87px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(21.603px,24.546px) rotate(314.999deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(21.603px,24.546px) rotate(314.999deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:3;
}
#_idContainer110, #_idContainer155 {
	-ms-transform:translate(5.062px,24.599px) rotate(225.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(5.062px,24.599px) rotate(225.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:20.87px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(5.062px,24.599px) rotate(225.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(5.062px,24.599px) rotate(225.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:2;
}
#_idContainer111, #_idContainer156 {
	-ms-transform:translate(11.960px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(11.960px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:20.87px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(11.960px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(11.960px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:0;
}
#_idContainer112, #_idContainer157 {
	display:inline-block;
	height:27px;
	position:relative;
	width:27px;
}
#_idContainer116 {
	-ms-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:152px;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:160px;
}
#_idContainer117 {
	display:inline-block;
	height:134px;
	width:167px;
}
#_idContainer121 {
	-ms-transform:translate(0.000px,0.466px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.466px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.89px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.466px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.466px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:47.37px;
	z-index:0;
}
#_idContainer122 {
	-ms-transform:translate(40.537px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(40.537px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.73px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(40.537px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(40.537px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:8.56px;
	z-index:1;
}
#_idContainer123 {
	display:inline-block;
	height:11px;
	position:relative;
	width:51px;
}
#_idContainer124 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:22.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:50.90px;
	z-index:0;
}
#_idContainer125 {
	-ms-transform:translate(44.919px,2.989px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(44.919px,2.989px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:11.95px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(44.919px,2.989px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(44.919px,2.989px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:6.46px;
	z-index:1;
}
#_idContainer126 {
	display:inline-block;
	height:24px;
	position:relative;
	width:53px;
}
#_idContainer130 {
	-ms-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:218px;
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:209px;
}
#_idContainer131 {
	display:inline-block;
	height:15px;
	position:relative;
	width:71px;
}
#_idContainer133 {
	display:inline-block;
	height:15px;
	position:relative;
	width:91px;
}
#_idContainer139, #_idContainer251 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:10.52px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:74.78px;
	z-index:0;
}
#_idContainer140, #_idContainer252 {
	-ms-transform:translate(0.016px,3.825px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.016px,3.825px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.41px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.016px,3.825px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.016px,3.825px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:70.22px;
	z-index:1;
}
#_idContainer141, #_idContainer253 {
	display:inline-block;
	height:12px;
	position:relative;
	width:76px;
}
#_idContainer150, #_idContainer256 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:10.64px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:7.11px;
	z-index:1;
}
#_idContainer151, #_idContainer257 {
	-ms-transform:translate(0.307px,2.632px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.307px,2.632px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:29.55px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.307px,2.632px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.307px,2.632px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:37.35px;
	z-index:0;
}
#_idContainer152, #_idContainer258 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:33px;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:39px;
}
#_idContainer158 {
	display:inline-block;
	height:412px;
	position:relative;
	width:595px;
}
#_idContainer159 {
	display:inline-block;
	height:302px;
	position:relative;
	width:595px;
}
#_idContainer160 {
	display:inline-block;
	height:260px;
	position:relative;
	width:595px;
}
#_idContainer177 {
	display:inline-block;
	height:13px;
	position:relative;
	width:121px;
}
#_idContainer184 {
	display:inline-block;
	height:164px;
	width:288px;
}
#_idContainer185 {
	-ms-transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.78px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:38.78px;
	z-index:0;
}
#_idContainer186 {
	-ms-transform:translate(5.412px,12.884px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(5.412px,12.884px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:15.71px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(5.412px,12.884px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(5.412px,12.884px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:27.60px;
	z-index:1;
}
#_idContainer187 {
	-ms-transform:translate(12.958px,34.250px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(12.958px,34.250px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.48px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(12.958px,34.250px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(12.958px,34.250px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2.66px;
	z-index:8;
}
#_idContainer188 {
	-ms-transform:translate(13.986px,31.206px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(13.986px,31.206px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:2.12px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(13.986px,31.206px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(13.986px,31.206px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2.75px;
	z-index:4;
}
#_idContainer189 {
	-ms-transform:translate(14.940px,3.495px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(14.940px,3.495px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:9.87px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(14.940px,3.495px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(14.940px,3.495px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:8.68px;
	z-index:2;
}
#_idContainer190 {
	-ms-transform:translate(16.901px,30.036px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(16.901px,30.036px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:2.48px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(16.901px,30.036px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(16.901px,30.036px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.42px;
	z-index:5;
}
#_idContainer191 {
	-ms-transform:translate(19.103px,33.878px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(19.103px,33.878px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:2.84px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(19.103px,33.878px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(19.103px,33.878px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.50px;
	z-index:7;
}
#_idContainer192 {
	-ms-transform:translate(20.258px,30.082px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(20.258px,30.082px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:2.45px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(20.258px,30.082px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(20.258px,30.082px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.44px;
	z-index:6;
}
#_idContainer193 {
	-ms-transform:translate(21.886px,31.211px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(21.886px,31.211px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:2.11px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(21.886px,31.211px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(21.886px,31.211px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2.72px;
	z-index:3;
}
#_idContainer194 {
	-ms-transform:translate(23.005px,34.254px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(23.005px,34.254px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.48px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(23.005px,34.254px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(23.005px,34.254px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2.64px;
	z-index:9;
}
#_idContainer195 {
	display:inline-block;
	height:39px;
	position:relative;
	width:39px;
}
#_idContainer204 {
	-ms-transform:translate(3.172px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(3.172px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:37.56px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(3.172px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(3.172px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:50.14px;
	z-index:0;
}
#_idContainer205 {
	-ms-transform:translate(0.000px,25.868px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,25.868px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:12.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,25.868px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,25.868px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:15.37px;
	z-index:1;
}
#_idContainer206 {
	-ms-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:40px;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:55px;
}
#_idContainer207 {
	display:inline-block;
	height:144px;
	position:relative;
	width:245px;
}
#_idContainer209 {
	display:inline-block;
	height:13px;
	position:relative;
	width:133px;
}
#_idContainer243 {
	-ms-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:169px;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:178px;
}
#_idContainer246 {
	display:inline-block;
	height:192px;
	width:186px;
}
#_idContainer248 {
	display:inline-block;
	height:88px;
	position:relative;
	width:88px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	background-color:#efebe8;
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	background-color:#82a6f2;
	border-width:0px;
}
div._idGenObjectStyleOverride-3 {
	background-color:#2050d0;
	border-width:0px;
}
div._idGenObjectStyleOverride-4 {
	border-color:#214fcf;
	border-width:1px;
}
div._idGenObjectStyleOverride-5 {
	border-width:0px;
}
div._idGenObjectStyleOverride-6 {
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	border-color:#ecbe54;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-width:1px;
}
div._idGenObjectStyleOverride-7 {
	background-color:#fcded6;
	border-width:0px;
}
div._idGenObjectStyleOverride-8 {
	background-color:#ffffff;
	border-width:0px;
}
div._idGenObjectStyleOverride-9 {
	border-color:#2050d0;
	border-width:1px;
}
div._idGenObjectStyleOverride-10 {
	background-color:#f36849;
	border-color:#f36849;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-11 {
	background-color:#ecbe54;
	border-width:0px;
}
div._idGenObjectStyleOverride-12 {
	border-bottom-left-radius:11px;
	border-bottom-right-radius:11px;
	border-color:#2050d0;
	border-top-left-radius:11px;
	border-top-right-radius:11px;
	border-width:1px;
}
div._idGenObjectStyleOverride-13 {
	border-color:#f36849;
	border-width:1px;
}
div._idGenObjectStyleOverride-14 {
	background-color:#f57d62;
	border-width:0px;
}
div._idGenObjectStyleOverride-15 {
	border-color:#ecbe54;
	border-width:3px;
}
div._idGenObjectStyleOverride-16 {
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
	border-color:#2050d0;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-width:1px;
}
div._idGenObjectStyleOverride-17 {
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-width:1px;
}
div._idGenObjectStyleOverride-18 {
	background-color:#84a5f2;
	border-width:0px;
}
div._idGenObjectStyleOverride-19 {
	border-color:#ecbe54;
	border-width:1px;
}
div._idGenObjectStyleOverride-20 {
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	border-color:#efebe8;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-width:1px;
}
div._idGenObjectStyleOverride-21 {
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	border-color:#2050d0;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-width:1px;
}
div._idGenObjectStyleOverride-22 {
	background-color:#fcded6;
	border-top-left-radius:51px;
	border-width:0px;
}
div._idGenObjectStyleOverride-23 {
	border-color:#efebe8;
	border-width:1px;
}
div._idGenObjectStyleOverride-24 {
	background-color:#f2694a;
	border-width:0px;
}
div._idGenObjectStyleOverride-25 {
	background-color:#000000;
	border-width:0px;
}
div._idGenObjectStyleOverride-26 {
	background-color:#000000;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-27 {
	border-width:1px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
div._idGenObjectLayout-2 {
	margin:11px -11px 11px -11px;
}
div._idGenObjectLayout-3 {
	margin:5px -5px 5px -5px;
}
div._idGenObjectLayout-4 {
	margin:7px 6px 7px 6px;
}
div._idGenObjectLayout-5 {
	margin:-5px 5px -5px 5px;
}
